:root {
    --azul-escuro: #00274D;
    --azul-medio: #0056A8;
    --branco: #FFFFFF;
    --cinza-claro: #F5F5F5;
    --laranja: #FF7733;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--cinza-claro);
    color: var(--azul-escuro);
}

.logo {
    width: 200px; 
    height: auto; 
    display: inline-block;
    align-items: flex-start;
    vertical-align: middle;
    margin-right: 15px; 
}

header {
    display: flex;
    align-items: center;
    background-color: var(--azul-escuro);
    color: var(--branco);
    padding: 1rem;
    text-align: center;
    flex-wrap: nowrap;
}

header h1 {
    margin-left: 300px;
    white-space: nowrap;
    font-size: 1.8rem;
}



nav {
    background-color: var(--azul-medio);
    padding: 0.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: var(--branco);
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.main-login{
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
    justify-content: center;
    display: flex;
}
.login-card {
    background-color: var(--branco);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin-bottom: 25px;
    
}

.login-card h2 {
    text-align: center;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="email"], input[type="password"] {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--cinza-claro);
    border-radius: 4px;
    font-size: 1rem;
}

.g-recaptcha {
    margin-bottom: 1rem;
}

.forgot-password {
    margin-bottom: 1rem;
    text-align: right;
}

.forgot-password a {
    color: var(--azul-medio);
    text-decoration: none;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-buttons label {
    display: flex;
    align-items: center;
}

.login-buttons input[type="checkbox"] {
    margin-right: 0.5rem;
}

.card {
    background-color: var(--branco);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
}

.btn {
    background-color: var(--laranja);
    color: var(--branco);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}


footer {
    background-color: var(--azul-escuro);
    color: var(--branco);
    text-align: center;
    padding: 1rem;
    position: relative; 
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    .login-card {
        padding: 1rem;
    }

    header {
        flex-direction: column;
        text-align: center;
    }

    h1 {
        font-size: 1.4rem;
    }

    .login-buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .login-buttons button {
        margin-top: 1rem;
        width: 100%;
    }
}


@media (max-width: 768px) {
    header {
        padding: 0.5rem;
        justify-content: space-around;
        margin: auto;
    }

    header .logo {
        width: 50px; 
        
    }

    header h1 {
        font-size: 10px; 
        align-self: auto;
        margin-left: 0;
    }

    nav ul {
        flex-direction: column; 
    }

    nav ul li {
        margin: 0.5rem 0; 
    }

    .card {
        padding: 0.5rem; 
    }

    footer {
        padding: 0.5rem; 
    }
}


@media (min-width: 1200px) {
    header .logo {
        width: 100px; 
    }

    header h1 {
        font-size: 2.2rem; 
    }

    .btn {
        padding: 0.7rem 1.5rem; 
    }
}
